
  body {
    margin: 0;
  }
  /*a:visited{color: gray;}*/
  a {
    color: black;
    text-decoration: none;
  }
  h1 {
    font-size: 45px;
    text-align: center;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid gray;
    border-color: purple;
  }
  #title {
    color: black;
  }
  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid ol {
    width: 100px;
    border-right: 1px solid gray;
    margin: 0;
    padding: 32px;
  }
  #para1 {
    padding-left: 30px;
  }
  @media(max-width: 800px) {
    #grid {
      display: block;
    }
    #grid ol {
      border-right: none;
    }
    h1 {
      border-bottom: none;
    }
  }
